body {
    background-color: black;
    margin: 0;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: white;
    text-align: center;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: white;
}

h4, #download {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: aquamarine;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    height: 49px;
}

input[type=text] {
    width: 300px;
    height: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20px;
    border-radius: 10px 0px 0px 10px;
    box-sizing: border-box;

}

input[type=submit] {
    background-color: aquamarine;
    width: 100px;
    height: 45px;
    color: black;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    font-weight: bold;
    box-sizing: border-box;

}

#camp {
    margin-bottom: 20px;
}

#camp-photo {
    z-index: -1;
    display: block;
    margin: 0 auto;
    border-radius: 25px;
}

#camp-text {
    text-align: center;
}

#copyright {
    color: gray;
    text-align: right;
}

#logo-container {
    display: flex;
    align-content: center;
    width: 100vw;
    height: 50px;
    background-color:  #303030;
}

#logo {
    margin-left: 2%;
    width: auto;
    height: 90%;
}

#video-container {
    display: flex;
    justify-content: center;
}

#phone {
    display: block;
    margin: 0 auto;
}