body {
    background-color: black;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: white;
    text-align: center;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: white;
}

h4, #download {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: aquamarine;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
}

#camp {
    margin-bottom: 20px;
}

#camp-photo {
    z-index: -1;
    display: block;
    margin: 0 auto;
    border-radius: 25px;
}

#camp-text {
    text-align: center;
}

#copyright {
    color: gray;
    text-align: right;
}

#logo-container {
    width: 100vw;
    height: 10vh;
    background-color: hsl(0, 0, 20);
}

#logo {
    margin-left: 2%;
    width: 25%;
    height: auto;
}

#video-container {
    display: flex;
    justify-content: center;
}

#phone {
    display: block;
    margin: 0 auto;
}